@charset "UTF-8";

/*
    Projet 360 (semestre 2)
    Author: Team DWCA
    Version: 1.0.0
*/

@font-face {
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    /*
        Calcul font du texte
        font-size: 1.4rem = 14px
        font-size: 2.4rem = 24px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* variable de couleur */

:root{
    --couleur-site: black;
    --couleur-bouton: #1c3888;
    --couleur-texte: #ffffff;
}

/* container */

.container{
    width: 60%;
    margin: 0 auto;
}

.container-fluid{
    width: 80%;
    margin: 0 auto;
}

/* espace */

.space20{
    height: 20px;
}

.space40{
    height: 40px;
}

.space60{
    height: 60px;
}

.space80{
    height: 80px;
}

.space100{
    height: 100px;
}

/* centrage flex*/

.center{
    display: flex;
    justify-content: center;
}

.colonne{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* position text*/

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}