body {
    height: 100vh;
    background: center/cover no-repeat url(../../assets/img/examen_end/wallpaper.jpg) #191D24;
    align-items: center;
    overflow: hidden;
}

.score{
    background-color: white;
    padding: 25px 40px;
    font-size: 2.5rem;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.7);
    width: 600px;
    margin: 100px auto 0 auto;
}

li{
    list-style: none;
    margin: 10px 0;
}

#form2{
    background-color: white;
    display: block;
    width: 60%;
    margin: 100px auto 0 auto;
    padding: 30px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.7);
    font-size: 2.5rem;
}

.btn-groupe{
    margin: 20px 0 0 0 ;
    display: flex;
    justify-content: center;
    background-color: #1c3888;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-groupe:hover{
    background-color: #2a4aaa;
}

.btn-examen{
    background-color: #2db536;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 3rem;
}

.btn-examen:hover{
    background-color: #308b1f;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
