body{
    margin: 40px 0;
    background-color: #000000;
    color: white;
    overflow: hidden;
    padding: 0;
}

/* Decor du jeu */

@-moz-keyframes pulse {
    0% {
        background-color: #fff;
        -moz-box-shadow: 0 0 30px 30px #fff;
        box-shadow: 0 0 30px 30px #fff;
    }
    50% {
        background-color: #fcc;
        -moz-box-shadow: 0 0 30px 30px #fcc;
        box-shadow: 0 0 30px 30px #fcc;
    }
    100% {
        background-color: #fff;
        -moz-box-shadow: 0 0 30px 30px #fff;
        box-shadow: 0 0 30px 30px #fff;
    }
}
@-webkit-keyframes pulse {
    0% {
        background-color: #fff;
        -webkit-box-shadow: 0 0 30px 30px #fff;
        box-shadow: 0 0 30px 30px #fff;
    }
    50% {
        background-color: #fcc;
        -webkit-box-shadow: 0 0 30px 30px #fcc;
        box-shadow: 0 0 30px 30px #fcc;
    }
    100% {
        background-color: #fff;
        -webkit-box-shadow: 0 0 30px 30px #fff;
        box-shadow: 0 0 30px 30px #fff;
    }
}
@keyframes pulse {
    0% {
        background-color: #fff;
        -moz-box-shadow: 0 0 30px 30px #fff;
        -webkit-box-shadow: 0 0 30px 30px #fff;
        box-shadow: 0 0 30px 30px #fff;
    }
    50% {
        background-color: #fcc;
        -moz-box-shadow: 0 0 30px 30px #fcc;
        -webkit-box-shadow: 0 0 30px 30px #fcc;
        box-shadow: 0 0 30px 30px #fcc;
    }
    100% {
        background-color: #fff;
        -moz-box-shadow: 0 0 30px 30px #fff;
        -webkit-box-shadow: 0 0 30px 30px #fff;
        box-shadow: 0 0 30px 30px #fff;
    }
}
@-moz-keyframes glow {
    0% {
        -moz-box-shadow: 0 0 80px 4px #049;
        box-shadow: 0 0 80px 4px #049;
    }
    100% {
        -moz-box-shadow: 0 0 160px 5px #049;
        box-shadow: 0 0 160px 5px #049;
    }
}
@-webkit-keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 80px 4px #049;
        box-shadow: 0 0 80px 4px #049;
    }
    100% {
        -webkit-box-shadow: 0 0 160px 5px #049;
        box-shadow: 0 0 160px 5px #049;
    }
}
@keyframes glow {
    0% {
        -moz-box-shadow: 0 0 80px 4px #049;
        -webkit-box-shadow: 0 0 80px 4px #049;
        box-shadow: 0 0 80px 4px #049;
    }
    100% {
        -moz-box-shadow: 0 0 160px 5px #049;
        -webkit-box-shadow: 0 0 160px 5px #049;
        box-shadow: 0 0 160px 5px #049;
    }
}

#background {
    background-image: radial-gradient(1px 1px at 72px 230px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 223px 261px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 228px 234px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 283px 159px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 138px 236px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 274px 297px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 287px 71px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 179px 155px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 54px 152px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 123px 127px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 225px 156px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 147px 274px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 79px 158px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 91px 297px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 115px 8px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 43px 26px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 270px 212px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 185px 93px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 267px 159px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 243px 102px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 294px 53px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 284px 45px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 104px 221px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 96px 267px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 216px 216px, #ffffff, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 300px 300px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -10;
}

#background-1 {
    background-color: transparent;
    background-image: radial-gradient(2px 2px at 13px 38px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 95px 286px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 70px 208px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 201px 84px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 37px 238px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 108px 210px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 263px 107px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 103px 3px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 226px 141px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 240px 23px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 114px 45px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 118px 267px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 190px 105px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 176px 290px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 180px 162px, #ffffff, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 300px 300px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -10;
}

#background-2 {
    background-color: transparent;
    background-image: radial-gradient(4px 4px at 251px 116px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 195px 153px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 231px 234px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 58px 58px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 41px 55px, #ffffff, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 300px 300px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -10;
}

#background-3 {
    background-color: transparent;
    background-image: radial-gradient(1px 1px at 144px 219px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 77px 56px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 14px 277px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 74px 57px, #ffffff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 245px 94px, #ffffff, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 300px 300px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -10;
}

#planet {
    background-color: #049;
    height: 1500px;
    left: -50%;
    position: absolute;
    top: 40%;
    width: 1500px;
    -moz-animation: glow 1s linear infinite alternate;
    -webkit-animation: glow 1s linear infinite alternate;
    animation: glow 1s linear infinite alternate;
    background-size: 100%;
    background-image: -moz-radial-gradient(80% 0, ellipse cover, #0055bb 0%, #000000 80%);
    background-image: -webkit-radial-gradient(80% 0, ellipse cover, #0055bb 0%, #000000 80%);
    background-image: radial-gradient(ellipse cover at 80% 0, #0055bb 0%, #000000 80%);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 0 140px 5px #049;
    -webkit-box-shadow: 0 0 140px 5px #049;
    box-shadow: 0 0 140px 5px #049;
    z-index: -10;
}


#overlay {
    background-color: transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -10;
}

/* Jeu vidéo */

.game{
    width: 50%;
    margin: auto auto;
    text-align: center;
}

h2{
    background-color: black;
    padding: 20px;
    font-size: 2.5rem;
    text-decoration: underline;
    margin-bottom: -20px;
}

.video{
    display: flex;
    justify-content: center;
    padding: 60px  0 0 0;
}


.text-game{
    text-align: center;
    padding: 40px 20px;
    margin: 40px 0;
    font-size: 25px;
    background-color: black;
    border: 1px solid white;
}

.text-error-game{
    text-align: center;
    padding: 40px 20px;
    margin: 40px 0;
    font-size: 25px;
    background-color: black;
    border: 2px solid #ff0000;
}

.bouton-flex{
    display: flex;
    justify-content: space-around;
}

.btn-choix{
    background-color: #10396c;
    padding: 15px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 2rem;
}

.btn-choix:hover{
    background-color: #2059a0;
}

.info{
    position: absolute;
    right: 5%;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

footer{
    margin: -200px 0 0 10%;
    font-weight: bold;
    font-size: 1rem;
}

.cadre_footer{
    width: 140px;
    background-color: white;
}

.logo{
    width: 120px;
}
