body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.container-introduction {
    box-sizing : border-box;
    border-radius:5px;
    background-color:#f2f2f2;
    padding:20px;
    width: 100%;
    /* redéfinition 400 + 2*20 */
    max-width: 440px;
    margin: 100px auto;
}

.space{
    height: 80px;
}
.img_profil{
    width: 100%;
}

h1  {
    color: black;
    width: 100%;
}

input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 0 16px 0;
    resize: vertical;
}

label{margin-right: 0;
    margin-left: 0;
    width: 100%;}

input[type=submit] {
    background-color: #1255a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1872D9;
}