@media only screen and (min-width: 290px) and (max-width: 1300px) {

    /*Splash screen*/
    .welcome {
        margin-top: 5px;
    }

    .container-introduction {
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 100%;
        /* redéfinition 400 + 2*20 */
        max-width: 440px;
        margin: 20px auto;
    }

    .space {
        height: 60px;
    }

    /*tutorial*/

    #container {
        width: 95%;
        margin: 0 auto;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }


    .img-livre {
        display: flex;
        justify-content: center;
        width: 90%;
    }

}


