html {
    font-size: initial;
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.welcome{
    margin-top: 100px;
}

/* animation */

body.welcome {
    background: var(--couleur-site);
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.welcome .splash {
    height: 0;
    padding: 0;
    border: 130em solid var(--couleur-bouton);
    position: fixed;
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

.welcome #welcome {
    background: var(--couleur-site);
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
}

@keyframes init {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 56px;
        height: 56px;
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes puff {
    0% {
        top: 100%;
        height: 0;
        padding: 0;
    }
    100% {
        top: 50%;
        height: 100%;
        padding: 0 100%;
    }
}

@keyframes borderRadius {
    0% {
        border-radius: 50%;
    }
    100% {
        border-radius: 0;
    }
}

@keyframes moveDown {
    0% {
        top: 50%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 100%;
    }
}

@keyframes moveUp {
    0% {
        background: var(--couleur-site);
        top: 100%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 50%;
        background: var(--couleur-bouton);
    }
}

@keyframes menu {
    0% {

    }
    50% {

    }
    100% {
        z-index: 1;
    }
}

@keyframes materia {
    0% {}
    50% {
        top: 26px;
    }
    100% {
        background: var(--couleur-site);
    }
}

@keyframes moveIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Menu du jeu */

h1, h2{
    text-align: center;
    color: var(--couleur-texte);
    font-size: 4rem;
}

p{
    color: var(--couleur-texte);
}

.game{
    margin: 30px 0 0 0;
    animation: menu 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.button {
    font-weight: bold;
    margin: 50px auto 20px;
    width: 200px;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    background: var(--couleur-bouton);
    color: var(--couleur-texte);
}

.button:hover {
    cursor: pointer;
    background: #4a62b6;
}

/* planète terre */

:root {
    --earth-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/earth.jpg);
    --earth-tilt: rotate(23deg);
    --earth-day: 23.9;
    --earth-color: #b3caff;
}

.card--earth .planet__atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0 50px 0 black, -5px 0 10px -4px var(--earth-color);
    position: absolute;
    left: 70%;

}
.card--earth .planet__surface {
    background-image: var(--earth-image);
    transform: var(--earth-tilt) scale(1.2);
    animation: planetRotate calc(var(--earth-day)*.50s) linear infinite;
}
.card--earth .card__planet::before {
    transform: var(--earth-tilt) scale(1.2);
    border-color: var(--earth-color);
    color: var(--earth-color);
}
.card--earth .tilt__icon {
    transform: var(--earth-tilt);
    color: var(--earth-color);
}

.planet__atmosphere {
    height: 190px;
    width: 190px;
    margin-left: 8%;
    position: relative;
    background: radial-gradient(circle at 30% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 65%);
    border-radius: 100px;
    overflow: hidden;

}
.planet__surface {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
}

@keyframes planetRotate {
    0% {
        background-position: 0 center;
    }
    100% {
        background-position: -200% center;

    }
}

/* Animation etoiles */

#etoile {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1973px 146px #FFF , 1608px 1364px #FFF , 493px 1736px #FFF , 1610px 523px #FFF , 1353px 793px #FFF , 332px 1717px #FFF , 782px 364px #FFF , 1856px 883px #FFF , 695px 375px #FFF , 426px 565px #FFF , 1583px 1377px #FFF , 1573px 1175px #FFF , 725px 1683px #FFF , 1987px 303px #FFF , 1439px 819px #FFF , 754px 741px #FFF , 630px 1927px #FFF , 265px 314px #FFF , 1327px 834px #FFF , 189px 1126px #FFF , 159px 870px #FFF , 1621px 204px #FFF , 1347px 1800px #FFF , 846px 249px #FFF , 1922px 327px #FFF , 1768px 1955px #FFF , 1778px 1467px #FFF , 426px 702px #FFF , 1128px 333px #FFF , 691px 3px #FFF , 88px 65px #FFF , 1504px 1489px #FFF , 16px 863px #FFF , 1243px 659px #FFF , 1127px 284px #FFF , 1107px 515px #FFF , 485px 1286px #FFF , 274px 17px #FFF , 989px 1979px #FFF , 147px 1524px #FFF , 1514px 1108px #FFF , 1038px 1350px #FFF , 182px 1734px #FFF , 257px 929px #FFF , 1909px 856px #FFF , 604px 1706px #FFF , 1612px 706px #FFF , 435px 669px #FFF , 1429px 1876px #FFF , 48px 862px #FFF , 77px 697px #FFF , 315px 1018px #FFF , 1850px 1839px #FFF , 574px 428px #FFF , 1343px 61px #FFF , 1927px 1093px #FFF , 1346px 1425px #FFF , 811px 463px #FFF , 403px 628px #FFF , 1272px 947px #FFF , 708px 1447px #FFF , 1083px 959px #FFF , 1064px 1415px #FFF , 656px 472px #FFF , 1374px 658px #FFF , 968px 505px #FFF , 1805px 606px #FFF , 817px 1221px #FFF , 199px 101px #FFF , 268px 77px #FFF , 1262px 498px #FFF , 501px 1296px #FFF , 538px 1391px #FFF , 1989px 1328px #FFF , 1751px 1393px #FFF , 994px 1337px #FFF , 7px 1852px #FFF , 1246px 1602px #FFF , 1796px 1694px #FFF , 1030px 133px #FFF , 105px 1948px #FFF , 1736px 1414px #FFF , 939px 572px #FFF , 1007px 1209px #FFF , 220px 700px #FFF , 410px 974px #FFF , 1236px 372px #FFF , 1871px 218px #FFF , 1975px 201px #FFF , 596px 1543px #FFF , 1799px 319px #FFF , 1021px 1215px #FFF , 961px 800px #FFF , 1683px 1370px #FFF , 1708px 825px #FFF , 526px 678px #FFF , 1599px 315px #FFF , 963px 1666px #FFF , 1054px 650px #FFF , 1515px 1386px #FFF , 216px 786px #FFF , 204px 843px #FFF , 478px 924px #FFF , 1442px 854px #FFF , 1325px 1597px #FFF , 1900px 225px #FFF , 763px 64px #FFF , 1208px 1893px #FFF , 1469px 1389px #FFF , 652px 584px #FFF , 1897px 594px #FFF , 1658px 1006px #FFF , 1472px 918px #FFF , 577px 1749px #FFF , 1240px 706px #FFF , 996px 1342px #FFF , 706px 353px #FFF , 23px 1836px #FFF , 1514px 223px #FFF , 1971px 1613px #FFF , 1309px 838px #FFF , 1310px 279px #FFF , 669px 918px #FFF , 1832px 1263px #FFF , 1973px 578px #FFF , 569px 627px #FFF , 931px 567px #FFF , 1643px 1202px #FFF , 555px 1629px #FFF , 821px 1997px #FFF , 140px 750px #FFF , 1698px 799px #FFF , 1189px 1732px #FFF , 1459px 1178px #FFF , 1856px 1044px #FFF , 1954px 478px #FFF , 570px 1336px #FFF , 1667px 1309px #FFF , 12px 802px #FFF , 950px 143px #FFF , 973px 1564px #FFF , 178px 1696px #FFF , 716px 999px #FFF , 488px 470px #FFF , 634px 115px #FFF , 304px 698px #FFF , 1354px 1452px #FFF , 326px 304px #FFF , 350px 1193px #FFF , 1378px 1279px #FFF , 200px 1015px #FFF , 313px 588px #FFF , 536px 346px #FFF , 1436px 13px #FFF , 1490px 149px #FFF , 1320px 1245px #FFF , 1052px 1418px #FFF , 1163px 354px #FFF , 1430px 1053px #FFF , 455px 241px #FFF , 237px 1947px #FFF , 283px 392px #FFF , 1068px 1862px #FFF , 1011px 382px #FFF , 220px 1677px #FFF , 1625px 1567px #FFF , 1530px 439px #FFF , 464px 1075px #FFF , 350px 1516px #FFF , 1116px 309px #FFF , 1418px 102px #FFF , 830px 1950px #FFF , 1008px 815px #FFF , 1410px 949px #FFF , 20px 1243px #FFF , 1927px 337px #FFF , 708px 425px #FFF , 416px 626px #FFF , 1045px 1729px #FFF , 390px 1795px #FFF , 707px 1390px #FFF , 384px 766px #FFF , 949px 512px #FFF , 1877px 872px #FFF , 1420px 410px #FFF , 1904px 719px #FFF , 1808px 1995px #FFF , 1746px 123px #FFF , 684px 230px #FFF , 659px 658px #FFF , 482px 576px #FFF , 1719px 435px #FFF , 34px 586px #FFF , 1825px 1947px #FFF , 812px 1970px #FFF , 1080px 33px #FFF , 369px 974px #FFF , 1220px 414px #FFF , 1789px 1517px #FFF , 156px 316px #FFF , 1175px 573px #FFF , 476px 209px #FFF , 488px 1432px #FFF , 565px 1990px #FFF , 1207px 1745px #FFF , 614px 1649px #FFF , 737px 1121px #FFF , 1904px 1553px #FFF , 850px 762px #FFF , 754px 187px #FFF , 525px 229px #FFF , 1418px 419px #FFF , 435px 1822px #FFF , 1954px 1030px #FFF , 783px 848px #FFF , 513px 712px #FFF , 829px 508px #FFF , 41px 1123px #FFF , 333px 1749px #FFF , 6px 1680px #FFF , 1241px 1827px #FFF , 1522px 2px #FFF , 1045px 882px #FFF , 84px 421px #FFF , 1851px 612px #FFF , 1746px 606px #FFF , 1997px 1327px #FFF , 1634px 1318px #FFF , 328px 1922px #FFF , 416px 94px #FFF , 542px 1506px #FFF , 43px 1476px #FFF , 1980px 1311px #FFF , 281px 291px #FFF , 1605px 366px #FFF , 415px 1058px #FFF , 1902px 62px #FFF , 1224px 1112px #FFF , 606px 624px #FFF , 1725px 497px #FFF , 1026px 1644px #FFF , 903px 929px #FFF , 1685px 1867px #FFF , 1691px 480px #FFF , 548px 235px #FFF , 77px 1069px #FFF , 1493px 725px #FFF , 453px 1624px #FFF , 1095px 203px #FFF , 850px 1392px #FFF , 1003px 1448px #FFF , 32px 1540px #FFF , 590px 1231px #FFF , 1123px 49px #FFF , 1312px 1886px #FFF , 1942px 1965px #FFF , 20px 100px #FFF , 1467px 635px #FFF , 681px 1557px #FFF , 1660px 1704px #FFF , 1579px 1256px #FFF , 1045px 36px #FFF , 773px 1476px #FFF , 1668px 1444px #FFF , 808px 1138px #FFF , 611px 409px #FFF , 228px 1671px #FFF , 1941px 732px #FFF , 950px 217px #FFF , 1098px 356px #FFF , 135px 1934px #FFF , 1853px 807px #FFF , 1752px 1205px #FFF , 976px 1082px #FFF , 138px 1214px #FFF , 133px 1786px #FFF , 1486px 1883px #FFF , 1501px 1027px #FFF , 317px 1668px #FFF , 78px 1881px #FFF , 1749px 1598px #FFF , 1028px 425px #FFF , 1863px 379px #FFF , 1554px 1238px #FFF , 1171px 116px #FFF , 333px 1825px #FFF , 127px 1630px #FFF , 1500px 1758px #FFF , 205px 1436px #FFF , 1263px 1482px #FFF , 1563px 1703px #FFF , 362px 560px #FFF , 311px 1986px #FFF , 689px 1144px #FFF , 1555px 1892px #FFF , 129px 1685px #FFF , 224px 752px #FFF , 1217px 31px #FFF , 407px 1707px #FFF , 1618px 1098px #FFF , 333px 81px #FFF , 141px 1715px #FFF , 1659px 1238px #FFF , 507px 1039px #FFF , 887px 1439px #FFF , 744px 1105px #FFF , 1412px 865px #FFF , 550px 380px #FFF , 1225px 273px #FFF , 1578px 1020px #FFF , 526px 1667px #FFF , 1020px 1113px #FFF , 1728px 49px #FFF , 373px 700px #FFF , 78px 188px #FFF , 77px 1195px #FFF , 1857px 955px #FFF , 1414px 840px #FFF , 958px 450px #FFF , 1810px 931px #FFF , 653px 267px #FFF , 339px 706px #FFF , 1660px 804px #FFF , 1775px 1443px #FFF , 1431px 279px #FFF , 620px 1100px #FFF , 1227px 893px #FFF , 854px 397px #FFF , 978px 1812px #FFF , 1265px 1611px #FFF , 1148px 320px #FFF , 1484px 1809px #FFF , 23px 1549px #FFF , 1474px 353px #FFF , 977px 971px #FFF , 1591px 547px #FFF , 1176px 1754px #FFF , 459px 1405px #FFF , 1605px 201px #FFF , 1420px 1088px #FFF , 280px 708px #FFF , 1709px 1641px #FFF , 893px 980px #FFF , 825px 1679px #FFF , 1084px 415px #FFF , 163px 300px #FFF , 407px 529px #FFF , 209px 60px #FFF , 1530px 1989px #FFF , 864px 188px #FFF , 1318px 579px #FFF , 1725px 951px #FFF , 348px 543px #FFF , 1133px 1955px #FFF , 653px 348px #FFF , 1173px 1208px #FFF , 1420px 886px #FFF , 1412px 860px #FFF , 493px 1621px #FFF , 999px 1315px #FFF , 955px 676px #FFF , 169px 26px #FFF , 1536px 1539px #FFF , 1391px 531px #FFF , 1379px 1484px #FFF , 1922px 1588px #FFF , 1308px 789px #FFF , 1789px 128px #FFF , 904px 1936px #FFF , 1140px 587px #FFF , 1911px 1763px #FFF , 954px 1px #FFF , 376px 1402px #FFF , 1825px 647px #FFF , 938px 228px #FFF , 1437px 1974px #FFF , 1089px 1761px #FFF , 871px 1506px #FFF , 658px 1970px #FFF , 136px 1650px #FFF , 1499px 1331px #FFF , 776px 1882px #FFF , 9px 1575px #FFF , 321px 69px #FFF , 323px 1471px #FFF , 1090px 214px #FFF , 1911px 925px #FFF , 1815px 1260px #FFF , 618px 1927px #FFF , 252px 396px #FFF , 932px 1448px #FFF , 1822px 1112px #FFF , 546px 1306px #FFF , 358px 1696px #FFF , 474px 425px #FFF , 1885px 1675px #FFF , 178px 1120px #FFF , 1939px 12px #FFF , 861px 81px #FFF , 801px 639px #FFF , 796px 1357px #FFF , 1348px 1562px #FFF , 17px 1883px #FFF , 187px 1465px #FFF , 1895px 1821px #FFF , 1462px 881px #FFF , 1348px 1743px #FFF , 1001px 1986px #FFF , 1672px 1463px #FFF , 697px 1903px #FFF , 1957px 879px #FFF , 1159px 1345px #FFF , 1936px 351px #FFF , 118px 1762px #FFF , 384px 490px #FFF , 568px 1941px #FFF , 816px 1735px #FFF , 1364px 982px #FFF , 1368px 41px #FFF , 1392px 405px #FFF , 465px 1107px #FFF , 640px 637px #FFF , 29px 1712px #FFF , 1232px 562px #FFF , 172px 714px #FFF , 631px 1952px #FFF , 945px 582px #FFF , 1778px 296px #FFF , 1661px 497px #FFF , 1964px 287px #FFF , 1480px 838px #FFF , 1482px 729px #FFF , 1868px 907px #FFF , 1007px 167px #FFF , 1929px 1101px #FFF , 1262px 791px #FFF , 1901px 74px #FFF , 163px 1794px #FFF , 1771px 1056px #FFF , 673px 814px #FFF , 1028px 547px #FFF , 1441px 1391px #FFF , 799px 1247px #FFF , 1164px 1972px #FFF , 346px 1688px #FFF , 1705px 1419px #FFF , 1530px 1885px #FFF , 694px 1629px #FFF , 1010px 332px #FFF , 866px 812px #FFF , 1475px 1643px #FFF , 1403px 523px #FFF , 1735px 110px #FFF , 1811px 361px #FFF , 1068px 1619px #FFF , 685px 617px #FFF , 99px 663px #FFF , 1806px 924px #FFF , 1579px 12px #FFF , 1083px 325px #FFF , 1778px 299px #FFF , 683px 663px #FFF , 1253px 1333px #FFF , 667px 1794px #FFF , 1730px 485px #FFF , 1436px 2000px #FFF , 1101px 466px #FFF , 425px 171px #FFF , 1205px 1382px #FFF , 370px 845px #FFF , 1105px 50px #FFF , 1412px 510px #FFF , 124px 1351px #FFF , 1685px 1120px #FFF , 1252px 211px #FFF , 668px 838px #FFF , 1545px 420px #FFF , 1305px 1000px #FFF , 1384px 330px #FFF , 201px 475px #FFF , 1368px 1830px #FFF , 1952px 1052px #FFF , 410px 291px #FFF , 1553px 942px #FFF , 1531px 414px #FFF , 859px 181px #FFF , 912px 155px #FFF , 1166px 126px #FFF , 235px 186px #FFF , 1521px 1625px #FFF , 1958px 1320px #FFF , 1521px 825px #FFF , 483px 690px #FFF , 592px 1806px #FFF , 184px 1151px #FFF , 1733px 1066px #FFF , 572px 445px #FFF , 935px 343px #FFF , 833px 1392px #FFF , 627px 363px #FFF , 1341px 913px #FFF , 1975px 1211px #FFF , 1540px 928px #FFF , 807px 3px #FFF , 860px 1411px #FFF , 1112px 1958px #FFF , 1660px 413px #FFF , 1972px 1584px #FFF , 637px 1080px #FFF , 1662px 1957px #FFF , 1195px 597px #FFF , 814px 328px #FFF , 954px 1945px #FFF , 1909px 664px #FFF , 640px 1071px #FFF , 1629px 1387px #FFF , 961px 504px #FFF , 1677px 313px #FFF , 948px 1346px #FFF , 169px 103px #FFF , 1847px 494px #FFF , 342px 658px #FFF , 358px 158px #FFF , 817px 1572px #FFF , 111px 1017px #FFF , 1850px 1561px #FFF , 182px 1250px #FFF , 137px 111px #FFF , 593px 436px #FFF , 1766px 644px #FFF , 861px 1923px #FFF , 1988px 911px #FFF , 1399px 1393px #FFF , 399px 1265px #FFF , 220px 1943px #FFF , 86px 165px #FFF , 1669px 1954px #FFF , 1780px 547px #FFF , 84px 68px #FFF , 675px 608px #FFF , 1503px 1199px #FFF , 527px 1983px #FFF , 82px 46px #FFF , 444px 892px #FFF , 817px 364px #FFF , 673px 1888px #FFF , 947px 1241px #FFF , 1734px 787px #FFF , 1160px 727px #FFF , 751px 1664px #FFF , 131px 651px #FFF , 384px 1656px #FFF , 747px 1160px #FFF , 1643px 329px #FFF , 699px 1174px #FFF , 773px 1604px #FFF , 1686px 1027px #FFF , 584px 1910px #FFF , 1406px 1544px #FFF , 1282px 513px #FFF , 1694px 1809px #FFF , 150px 1480px #FFF , 1393px 1975px #FFF , 813px 509px #FFF , 609px 1695px #FFF , 1530px 1238px #FFF , 773px 1672px #FFF , 699px 868px #FFF , 680px 384px #FFF , 118px 572px #FFF , 892px 1843px #FFF , 1934px 629px #FFF , 222px 985px #FFF , 128px 496px #FFF , 1137px 498px #FFF , 58px 1901px #FFF , 107px 1639px #FFF , 214px 1953px #FFF , 1976px 1887px #FFF , 1161px 707px #FFF , 372px 1991px #FFF , 1239px 578px #FFF , 1680px 1187px #FFF , 969px 1769px #FFF , 1028px 1100px #FFF , 453px 1638px #FFF , 1190px 963px #FFF , 38px 1669px #FFF , 1352px 1929px #FFF , 908px 1529px #FFF , 435px 1299px #FFF , 706px 1727px #FFF , 205px 907px #FFF , 1386px 32px #FFF , 1772px 49px #FFF , 699px 155px #FFF , 207px 1383px #FFF , 405px 1745px #FFF , 247px 622px #FFF , 480px 1873px #FFF , 935px 717px #FFF , 1652px 122px #FFF , 1780px 32px #FFF , 1216px 1301px #FFF , 165px 1885px #FFF , 1546px 1px #FFF , 901px 1627px #FFF , 335px 976px #FFF , 882px 791px #FFF , 707px 1279px #FFF , 1846px 1407px #FFF , 1131px 1399px #FFF , 1098px 1866px #FFF , 343px 1198px #FFF , 1748px 597px #FFF , 1200px 323px #FFF , 1379px 73px #FFF , 692px 358px #FFF , 638px 1305px #FFF , 1479px 41px #FFF , 1727px 267px #FFF , 616px 1499px #FFF , 282px 1131px #FFF , 729px 1422px #FFF , 1075px 1135px #FFF , 1945px 1269px #FFF , 505px 1969px #FFF , 1905px 124px #FFF , 899px 771px #FFF , 1434px 269px #FFF , 745px 1861px #FFF , 1927px 256px #FFF , 1481px 1003px #FFF , 271px 1535px #FFF , 143px 1133px #FFF , 1901px 150px #FFF , 1693px 1222px #FFF , 217px 1203px #FFF , 1075px 1427px #FFF , 1169px 477px #FFF , 1700px 1167px #FFF , 1787px 904px #FFF , 1539px 1525px #FFF , 1030px 1360px #FFF , 1288px 1137px #FFF , 1834px 1773px #FFF , 1546px 164px #FFF , 593px 13px #FFF , 163px 1475px #FFF , 313px 391px #FFF , 652px 1620px #FFF , 785px 1903px #FFF , 1534px 599px #FFF , 460px 1958px #FFF , 1637px 1836px #FFF , 151px 77px #FFF , 1295px 1712px #FFF , 1816px 1852px #FFF , 1819px 50px #FFF , 646px 1602px #FFF , 756px 419px #FFF , 1067px 82px #FFF , 1345px 818px #FFF , 1101px 1882px #FFF , 996px 375px #FFF , 125px 843px #FFF , 875px 1101px #FFF , 1514px 1043px #FFF , 114px 37px #FFF , 550px 1318px #FFF , 450px 1165px #FFF , 1986px 88px #FFF , 1311px 1429px #FFF , 1528px 1543px #FFF , 1566px 904px #FFF , 1591px 1261px #FFF , 876px 841px #FFF , 1462px 1864px #FFF , 1550px 312px #FFF , 139px 1766px #FFF , 784px 374px #FFF , 1091px 781px #FFF , 834px 114px #FFF , 1446px 1739px #FFF , 298px 1439px #FFF , 1663px 803px #FFF , 176px 288px #FFF , 1820px 759px #FFF , 1527px 125px #FFF , 1361px 1317px #FFF , 1869px 1178px #FFF , 1982px 1931px #FFF , 1656px 1470px #FFF , 872px 1705px #FFF , 1255px 2px #FFF , 1859px 1831px #FFF , 1015px 1364px #FFF , 142px 809px #FFF , 486px 608px #FFF , 539px 709px #FFF;
    animation: animEtoile 50s linear infinite;
    z-index: -2;
}
#etoile:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    z-index: -2;
    height: 1px;
    background: transparent;
    box-shadow: 1973px 146px #FFF , 1608px 1364px #FFF , 493px 1736px #FFF , 1610px 523px #FFF , 1353px 793px #FFF , 332px 1717px #FFF , 782px 364px #FFF , 1856px 883px #FFF , 695px 375px #FFF , 426px 565px #FFF , 1583px 1377px #FFF , 1573px 1175px #FFF , 725px 1683px #FFF , 1987px 303px #FFF , 1439px 819px #FFF , 754px 741px #FFF , 630px 1927px #FFF , 265px 314px #FFF , 1327px 834px #FFF , 189px 1126px #FFF , 159px 870px #FFF , 1621px 204px #FFF , 1347px 1800px #FFF , 846px 249px #FFF , 1922px 327px #FFF , 1768px 1955px #FFF , 1778px 1467px #FFF , 426px 702px #FFF , 1128px 333px #FFF , 691px 3px #FFF , 88px 65px #FFF , 1504px 1489px #FFF , 16px 863px #FFF , 1243px 659px #FFF , 1127px 284px #FFF , 1107px 515px #FFF , 485px 1286px #FFF , 274px 17px #FFF , 989px 1979px #FFF , 147px 1524px #FFF , 1514px 1108px #FFF , 1038px 1350px #FFF , 182px 1734px #FFF , 257px 929px #FFF , 1909px 856px #FFF , 604px 1706px #FFF , 1612px 706px #FFF , 435px 669px #FFF , 1429px 1876px #FFF , 48px 862px #FFF , 77px 697px #FFF , 315px 1018px #FFF , 1850px 1839px #FFF , 574px 428px #FFF , 1343px 61px #FFF , 1927px 1093px #FFF , 1346px 1425px #FFF , 811px 463px #FFF , 403px 628px #FFF , 1272px 947px #FFF , 708px 1447px #FFF , 1083px 959px #FFF , 1064px 1415px #FFF , 656px 472px #FFF , 1374px 658px #FFF , 968px 505px #FFF , 1805px 606px #FFF , 817px 1221px #FFF , 199px 101px #FFF , 268px 77px #FFF , 1262px 498px #FFF , 501px 1296px #FFF , 538px 1391px #FFF , 1989px 1328px #FFF , 1751px 1393px #FFF , 994px 1337px #FFF , 7px 1852px #FFF , 1246px 1602px #FFF , 1796px 1694px #FFF , 1030px 133px #FFF , 105px 1948px #FFF , 1736px 1414px #FFF , 939px 572px #FFF , 1007px 1209px #FFF , 220px 700px #FFF , 410px 974px #FFF , 1236px 372px #FFF , 1871px 218px #FFF , 1975px 201px #FFF , 596px 1543px #FFF , 1799px 319px #FFF , 1021px 1215px #FFF , 961px 800px #FFF , 1683px 1370px #FFF , 1708px 825px #FFF , 526px 678px #FFF , 1599px 315px #FFF , 963px 1666px #FFF , 1054px 650px #FFF , 1515px 1386px #FFF , 216px 786px #FFF , 204px 843px #FFF , 478px 924px #FFF , 1442px 854px #FFF , 1325px 1597px #FFF , 1900px 225px #FFF , 763px 64px #FFF , 1208px 1893px #FFF , 1469px 1389px #FFF , 652px 584px #FFF , 1897px 594px #FFF , 1658px 1006px #FFF , 1472px 918px #FFF , 577px 1749px #FFF , 1240px 706px #FFF , 996px 1342px #FFF , 706px 353px #FFF , 23px 1836px #FFF , 1514px 223px #FFF , 1971px 1613px #FFF , 1309px 838px #FFF , 1310px 279px #FFF , 669px 918px #FFF , 1832px 1263px #FFF , 1973px 578px #FFF , 569px 627px #FFF , 931px 567px #FFF , 1643px 1202px #FFF , 555px 1629px #FFF , 821px 1997px #FFF , 140px 750px #FFF , 1698px 799px #FFF , 1189px 1732px #FFF , 1459px 1178px #FFF , 1856px 1044px #FFF , 1954px 478px #FFF , 570px 1336px #FFF , 1667px 1309px #FFF , 12px 802px #FFF , 950px 143px #FFF , 973px 1564px #FFF , 178px 1696px #FFF , 716px 999px #FFF , 488px 470px #FFF , 634px 115px #FFF , 304px 698px #FFF , 1354px 1452px #FFF , 326px 304px #FFF , 350px 1193px #FFF , 1378px 1279px #FFF , 200px 1015px #FFF , 313px 588px #FFF , 536px 346px #FFF , 1436px 13px #FFF , 1490px 149px #FFF , 1320px 1245px #FFF , 1052px 1418px #FFF , 1163px 354px #FFF , 1430px 1053px #FFF , 455px 241px #FFF , 237px 1947px #FFF , 283px 392px #FFF , 1068px 1862px #FFF , 1011px 382px #FFF , 220px 1677px #FFF , 1625px 1567px #FFF , 1530px 439px #FFF , 464px 1075px #FFF , 350px 1516px #FFF , 1116px 309px #FFF , 1418px 102px #FFF , 830px 1950px #FFF , 1008px 815px #FFF , 1410px 949px #FFF , 20px 1243px #FFF , 1927px 337px #FFF , 708px 425px #FFF , 416px 626px #FFF , 1045px 1729px #FFF , 390px 1795px #FFF , 707px 1390px #FFF , 384px 766px #FFF , 949px 512px #FFF , 1877px 872px #FFF , 1420px 410px #FFF , 1904px 719px #FFF , 1808px 1995px #FFF , 1746px 123px #FFF , 684px 230px #FFF , 659px 658px #FFF , 482px 576px #FFF , 1719px 435px #FFF , 34px 586px #FFF , 1825px 1947px #FFF , 812px 1970px #FFF , 1080px 33px #FFF , 369px 974px #FFF , 1220px 414px #FFF , 1789px 1517px #FFF , 156px 316px #FFF , 1175px 573px #FFF , 476px 209px #FFF , 488px 1432px #FFF , 565px 1990px #FFF , 1207px 1745px #FFF , 614px 1649px #FFF , 737px 1121px #FFF , 1904px 1553px #FFF , 850px 762px #FFF , 754px 187px #FFF , 525px 229px #FFF , 1418px 419px #FFF , 435px 1822px #FFF , 1954px 1030px #FFF , 783px 848px #FFF , 513px 712px #FFF , 829px 508px #FFF , 41px 1123px #FFF , 333px 1749px #FFF , 6px 1680px #FFF , 1241px 1827px #FFF , 1522px 2px #FFF , 1045px 882px #FFF , 84px 421px #FFF , 1851px 612px #FFF , 1746px 606px #FFF , 1997px 1327px #FFF , 1634px 1318px #FFF , 328px 1922px #FFF , 416px 94px #FFF , 542px 1506px #FFF , 43px 1476px #FFF , 1980px 1311px #FFF , 281px 291px #FFF , 1605px 366px #FFF , 415px 1058px #FFF , 1902px 62px #FFF , 1224px 1112px #FFF , 606px 624px #FFF , 1725px 497px #FFF , 1026px 1644px #FFF , 903px 929px #FFF , 1685px 1867px #FFF , 1691px 480px #FFF , 548px 235px #FFF , 77px 1069px #FFF , 1493px 725px #FFF , 453px 1624px #FFF , 1095px 203px #FFF , 850px 1392px #FFF , 1003px 1448px #FFF , 32px 1540px #FFF , 590px 1231px #FFF , 1123px 49px #FFF , 1312px 1886px #FFF , 1942px 1965px #FFF , 20px 100px #FFF , 1467px 635px #FFF , 681px 1557px #FFF , 1660px 1704px #FFF , 1579px 1256px #FFF , 1045px 36px #FFF , 773px 1476px #FFF , 1668px 1444px #FFF , 808px 1138px #FFF , 611px 409px #FFF , 228px 1671px #FFF , 1941px 732px #FFF , 950px 217px #FFF , 1098px 356px #FFF , 135px 1934px #FFF , 1853px 807px #FFF , 1752px 1205px #FFF , 976px 1082px #FFF , 138px 1214px #FFF , 133px 1786px #FFF , 1486px 1883px #FFF , 1501px 1027px #FFF , 317px 1668px #FFF , 78px 1881px #FFF , 1749px 1598px #FFF , 1028px 425px #FFF , 1863px 379px #FFF , 1554px 1238px #FFF , 1171px 116px #FFF , 333px 1825px #FFF , 127px 1630px #FFF , 1500px 1758px #FFF , 205px 1436px #FFF , 1263px 1482px #FFF , 1563px 1703px #FFF , 362px 560px #FFF , 311px 1986px #FFF , 689px 1144px #FFF , 1555px 1892px #FFF , 129px 1685px #FFF , 224px 752px #FFF , 1217px 31px #FFF , 407px 1707px #FFF , 1618px 1098px #FFF , 333px 81px #FFF , 141px 1715px #FFF , 1659px 1238px #FFF , 507px 1039px #FFF , 887px 1439px #FFF , 744px 1105px #FFF , 1412px 865px #FFF , 550px 380px #FFF , 1225px 273px #FFF , 1578px 1020px #FFF , 526px 1667px #FFF , 1020px 1113px #FFF , 1728px 49px #FFF , 373px 700px #FFF , 78px 188px #FFF , 77px 1195px #FFF , 1857px 955px #FFF , 1414px 840px #FFF , 958px 450px #FFF , 1810px 931px #FFF , 653px 267px #FFF , 339px 706px #FFF , 1660px 804px #FFF , 1775px 1443px #FFF , 1431px 279px #FFF , 620px 1100px #FFF , 1227px 893px #FFF , 854px 397px #FFF , 978px 1812px #FFF , 1265px 1611px #FFF , 1148px 320px #FFF , 1484px 1809px #FFF , 23px 1549px #FFF , 1474px 353px #FFF , 977px 971px #FFF , 1591px 547px #FFF , 1176px 1754px #FFF , 459px 1405px #FFF , 1605px 201px #FFF , 1420px 1088px #FFF , 280px 708px #FFF , 1709px 1641px #FFF , 893px 980px #FFF , 825px 1679px #FFF , 1084px 415px #FFF , 163px 300px #FFF , 407px 529px #FFF , 209px 60px #FFF , 1530px 1989px #FFF , 864px 188px #FFF , 1318px 579px #FFF , 1725px 951px #FFF , 348px 543px #FFF , 1133px 1955px #FFF , 653px 348px #FFF , 1173px 1208px #FFF , 1420px 886px #FFF , 1412px 860px #FFF , 493px 1621px #FFF , 999px 1315px #FFF , 955px 676px #FFF , 169px 26px #FFF , 1536px 1539px #FFF , 1391px 531px #FFF , 1379px 1484px #FFF , 1922px 1588px #FFF , 1308px 789px #FFF , 1789px 128px #FFF , 904px 1936px #FFF , 1140px 587px #FFF , 1911px 1763px #FFF , 954px 1px #FFF , 376px 1402px #FFF , 1825px 647px #FFF , 938px 228px #FFF , 1437px 1974px #FFF , 1089px 1761px #FFF , 871px 1506px #FFF , 658px 1970px #FFF , 136px 1650px #FFF , 1499px 1331px #FFF , 776px 1882px #FFF , 9px 1575px #FFF , 321px 69px #FFF , 323px 1471px #FFF , 1090px 214px #FFF , 1911px 925px #FFF , 1815px 1260px #FFF , 618px 1927px #FFF , 252px 396px #FFF , 932px 1448px #FFF , 1822px 1112px #FFF , 546px 1306px #FFF , 358px 1696px #FFF , 474px 425px #FFF , 1885px 1675px #FFF , 178px 1120px #FFF , 1939px 12px #FFF , 861px 81px #FFF , 801px 639px #FFF , 796px 1357px #FFF , 1348px 1562px #FFF , 17px 1883px #FFF , 187px 1465px #FFF , 1895px 1821px #FFF , 1462px 881px #FFF , 1348px 1743px #FFF , 1001px 1986px #FFF , 1672px 1463px #FFF , 697px 1903px #FFF , 1957px 879px #FFF , 1159px 1345px #FFF , 1936px 351px #FFF , 118px 1762px #FFF , 384px 490px #FFF , 568px 1941px #FFF , 816px 1735px #FFF , 1364px 982px #FFF , 1368px 41px #FFF , 1392px 405px #FFF , 465px 1107px #FFF , 640px 637px #FFF , 29px 1712px #FFF , 1232px 562px #FFF , 172px 714px #FFF , 631px 1952px #FFF , 945px 582px #FFF , 1778px 296px #FFF , 1661px 497px #FFF , 1964px 287px #FFF , 1480px 838px #FFF , 1482px 729px #FFF , 1868px 907px #FFF , 1007px 167px #FFF , 1929px 1101px #FFF , 1262px 791px #FFF , 1901px 74px #FFF , 163px 1794px #FFF , 1771px 1056px #FFF , 673px 814px #FFF , 1028px 547px #FFF , 1441px 1391px #FFF , 799px 1247px #FFF , 1164px 1972px #FFF , 346px 1688px #FFF , 1705px 1419px #FFF , 1530px 1885px #FFF , 694px 1629px #FFF , 1010px 332px #FFF , 866px 812px #FFF , 1475px 1643px #FFF , 1403px 523px #FFF , 1735px 110px #FFF , 1811px 361px #FFF , 1068px 1619px #FFF , 685px 617px #FFF , 99px 663px #FFF , 1806px 924px #FFF , 1579px 12px #FFF , 1083px 325px #FFF , 1778px 299px #FFF , 683px 663px #FFF , 1253px 1333px #FFF , 667px 1794px #FFF , 1730px 485px #FFF , 1436px 2000px #FFF , 1101px 466px #FFF , 425px 171px #FFF , 1205px 1382px #FFF , 370px 845px #FFF , 1105px 50px #FFF , 1412px 510px #FFF , 124px 1351px #FFF , 1685px 1120px #FFF , 1252px 211px #FFF , 668px 838px #FFF , 1545px 420px #FFF , 1305px 1000px #FFF , 1384px 330px #FFF , 201px 475px #FFF , 1368px 1830px #FFF , 1952px 1052px #FFF , 410px 291px #FFF , 1553px 942px #FFF , 1531px 414px #FFF , 859px 181px #FFF , 912px 155px #FFF , 1166px 126px #FFF , 235px 186px #FFF , 1521px 1625px #FFF , 1958px 1320px #FFF , 1521px 825px #FFF , 483px 690px #FFF , 592px 1806px #FFF , 184px 1151px #FFF , 1733px 1066px #FFF , 572px 445px #FFF , 935px 343px #FFF , 833px 1392px #FFF , 627px 363px #FFF , 1341px 913px #FFF , 1975px 1211px #FFF , 1540px 928px #FFF , 807px 3px #FFF , 860px 1411px #FFF , 1112px 1958px #FFF , 1660px 413px #FFF , 1972px 1584px #FFF , 637px 1080px #FFF , 1662px 1957px #FFF , 1195px 597px #FFF , 814px 328px #FFF , 954px 1945px #FFF , 1909px 664px #FFF , 640px 1071px #FFF , 1629px 1387px #FFF , 961px 504px #FFF , 1677px 313px #FFF , 948px 1346px #FFF , 169px 103px #FFF , 1847px 494px #FFF , 342px 658px #FFF , 358px 158px #FFF , 817px 1572px #FFF , 111px 1017px #FFF , 1850px 1561px #FFF , 182px 1250px #FFF , 137px 111px #FFF , 593px 436px #FFF , 1766px 644px #FFF , 861px 1923px #FFF , 1988px 911px #FFF , 1399px 1393px #FFF , 399px 1265px #FFF , 220px 1943px #FFF , 86px 165px #FFF , 1669px 1954px #FFF , 1780px 547px #FFF , 84px 68px #FFF , 675px 608px #FFF , 1503px 1199px #FFF , 527px 1983px #FFF , 82px 46px #FFF , 444px 892px #FFF , 817px 364px #FFF , 673px 1888px #FFF , 947px 1241px #FFF , 1734px 787px #FFF , 1160px 727px #FFF , 751px 1664px #FFF , 131px 651px #FFF , 384px 1656px #FFF , 747px 1160px #FFF , 1643px 329px #FFF , 699px 1174px #FFF , 773px 1604px #FFF , 1686px 1027px #FFF , 584px 1910px #FFF , 1406px 1544px #FFF , 1282px 513px #FFF , 1694px 1809px #FFF , 150px 1480px #FFF , 1393px 1975px #FFF , 813px 509px #FFF , 609px 1695px #FFF , 1530px 1238px #FFF , 773px 1672px #FFF , 699px 868px #FFF , 680px 384px #FFF , 118px 572px #FFF , 892px 1843px #FFF , 1934px 629px #FFF , 222px 985px #FFF , 128px 496px #FFF , 1137px 498px #FFF , 58px 1901px #FFF , 107px 1639px #FFF , 214px 1953px #FFF , 1976px 1887px #FFF , 1161px 707px #FFF , 372px 1991px #FFF , 1239px 578px #FFF , 1680px 1187px #FFF , 969px 1769px #FFF , 1028px 1100px #FFF , 453px 1638px #FFF , 1190px 963px #FFF , 38px 1669px #FFF , 1352px 1929px #FFF , 908px 1529px #FFF , 435px 1299px #FFF , 706px 1727px #FFF , 205px 907px #FFF , 1386px 32px #FFF , 1772px 49px #FFF , 699px 155px #FFF , 207px 1383px #FFF , 405px 1745px #FFF , 247px 622px #FFF , 480px 1873px #FFF , 935px 717px #FFF , 1652px 122px #FFF , 1780px 32px #FFF , 1216px 1301px #FFF , 165px 1885px #FFF , 1546px 1px #FFF , 901px 1627px #FFF , 335px 976px #FFF , 882px 791px #FFF , 707px 1279px #FFF , 1846px 1407px #FFF , 1131px 1399px #FFF , 1098px 1866px #FFF , 343px 1198px #FFF , 1748px 597px #FFF , 1200px 323px #FFF , 1379px 73px #FFF , 692px 358px #FFF , 638px 1305px #FFF , 1479px 41px #FFF , 1727px 267px #FFF , 616px 1499px #FFF , 282px 1131px #FFF , 729px 1422px #FFF , 1075px 1135px #FFF , 1945px 1269px #FFF , 505px 1969px #FFF , 1905px 124px #FFF , 899px 771px #FFF , 1434px 269px #FFF , 745px 1861px #FFF , 1927px 256px #FFF , 1481px 1003px #FFF , 271px 1535px #FFF , 143px 1133px #FFF , 1901px 150px #FFF , 1693px 1222px #FFF , 217px 1203px #FFF , 1075px 1427px #FFF , 1169px 477px #FFF , 1700px 1167px #FFF , 1787px 904px #FFF , 1539px 1525px #FFF , 1030px 1360px #FFF , 1288px 1137px #FFF , 1834px 1773px #FFF , 1546px 164px #FFF , 593px 13px #FFF , 163px 1475px #FFF , 313px 391px #FFF , 652px 1620px #FFF , 785px 1903px #FFF , 1534px 599px #FFF , 460px 1958px #FFF , 1637px 1836px #FFF , 151px 77px #FFF , 1295px 1712px #FFF , 1816px 1852px #FFF , 1819px 50px #FFF , 646px 1602px #FFF , 756px 419px #FFF , 1067px 82px #FFF , 1345px 818px #FFF , 1101px 1882px #FFF , 996px 375px #FFF , 125px 843px #FFF , 875px 1101px #FFF , 1514px 1043px #FFF , 114px 37px #FFF , 550px 1318px #FFF , 450px 1165px #FFF , 1986px 88px #FFF , 1311px 1429px #FFF , 1528px 1543px #FFF , 1566px 904px #FFF , 1591px 1261px #FFF , 876px 841px #FFF , 1462px 1864px #FFF , 1550px 312px #FFF , 139px 1766px #FFF , 784px 374px #FFF , 1091px 781px #FFF , 834px 114px #FFF , 1446px 1739px #FFF , 298px 1439px #FFF , 1663px 803px #FFF , 176px 288px #FFF , 1820px 759px #FFF , 1527px 125px #FFF , 1361px 1317px #FFF , 1869px 1178px #FFF , 1982px 1931px #FFF , 1656px 1470px #FFF , 872px 1705px #FFF , 1255px 2px #FFF , 1859px 1831px #FFF , 1015px 1364px #FFF , 142px 809px #FFF , 486px 608px #FFF , 539px 709px #FFF;
}

#etoile2 {
    z-index: -2;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1407px 1052px #FFF , 943px 677px #FFF , 530px 1058px #FFF , 1620px 1986px #FFF , 263px 190px #FFF , 1345px 629px #FFF , 1353px 376px #FFF , 1660px 721px #FFF , 107px 1486px #FFF , 803px 574px #FFF , 1697px 1432px #FFF , 887px 154px #FFF , 1977px 1773px #FFF , 1214px 438px #FFF , 47px 474px #FFF , 1740px 1567px #FFF , 57px 1941px #FFF , 95px 926px #FFF , 1386px 1413px #FFF , 1215px 642px #FFF , 481px 545px #FFF , 103px 565px #FFF , 1434px 1426px #FFF , 1075px 1346px #FFF , 101px 1220px #FFF , 1058px 1924px #FFF , 1705px 878px #FFF , 921px 620px #FFF , 1512px 1270px #FFF , 1745px 905px #FFF , 1927px 57px #FFF , 147px 67px #FFF , 1955px 9px #FFF , 1113px 558px #FFF , 1206px 1718px #FFF , 1391px 1298px #FFF , 1554px 1070px #FFF , 107px 871px #FFF , 1335px 1189px #FFF , 1409px 164px #FFF , 920px 10px #FFF , 643px 1029px #FFF , 1078px 223px #FFF , 1440px 1523px #FFF , 1757px 57px #FFF , 95px 1612px #FFF , 964px 1733px #FFF , 1428px 1298px #FFF , 365px 253px #FFF , 393px 1855px #FFF , 1999px 952px #FFF , 1140px 608px #FFF , 23px 529px #FFF , 834px 675px #FFF , 1587px 1971px #FFF , 1584px 330px #FFF , 912px 1176px #FFF , 1952px 1699px #FFF , 247px 1713px #FFF , 519px 1174px #FFF , 1349px 1311px #FFF , 1279px 1283px #FFF , 1545px 305px #FFF , 1205px 634px #FFF , 1070px 1442px #FFF , 1611px 1030px #FFF , 1335px 492px #FFF , 1128px 766px #FFF , 536px 116px #FFF , 450px 516px #FFF , 1274px 1261px #FFF , 1802px 733px #FFF , 1608px 322px #FFF , 719px 1426px #FFF , 459px 857px #FFF , 1977px 146px #FFF , 450px 957px #FFF , 1828px 1079px #FFF , 1084px 125px #FFF , 671px 1018px #FFF , 1152px 1344px #FFF , 201px 1310px #FFF , 405px 526px #FFF , 1134px 1203px #FFF , 1566px 232px #FFF , 795px 681px #FFF , 450px 1534px #FFF , 148px 383px #FFF , 70px 1133px #FFF , 759px 251px #FFF , 105px 1462px #FFF , 1401px 402px #FFF , 949px 1007px #FFF , 1838px 627px #FFF , 758px 1029px #FFF , 495px 1010px #FFF , 92px 76px #FFF , 1556px 1312px #FFF , 1719px 627px #FFF , 1140px 143px #FFF , 1755px 476px #FFF , 1404px 1589px #FFF , 367px 997px #FFF , 2000px 1055px #FFF , 459px 1354px #FFF , 542px 1657px #FFF , 599px 1310px #FFF , 1724px 911px #FFF , 1776px 629px #FFF , 316px 788px #FFF , 1042px 1209px #FFF , 936px 129px #FFF , 1800px 221px #FFF , 445px 1859px #FFF , 1970px 662px #FFF , 563px 1258px #FFF , 53px 378px #FFF , 657px 9px #FFF , 593px 124px #FFF , 528px 1441px #FFF , 1032px 198px #FFF , 1814px 97px #FFF , 1003px 1232px #FFF , 1990px 848px #FFF , 1605px 320px #FFF , 482px 878px #FFF , 1347px 1635px #FFF , 965px 467px #FFF , 546px 32px #FFF , 599px 629px #FFF , 1536px 1257px #FFF , 128px 605px #FFF , 1805px 304px #FFF , 1910px 959px #FFF , 493px 1231px #FFF , 885px 1320px #FFF , 539px 268px #FFF , 1436px 797px #FFF , 1785px 1650px #FFF , 333px 982px #FFF , 630px 1289px #FFF , 961px 1290px #FFF , 1770px 1928px #FFF , 847px 971px #FFF , 734px 1008px #FFF , 1602px 1374px #FFF , 1103px 689px #FFF , 600px 118px #FFF , 1512px 765px #FFF , 333px 848px #FFF , 1399px 1583px #FFF , 101px 1568px #FFF , 1298px 1068px #FFF , 1299px 1808px #FFF , 742px 1153px #FFF , 1581px 612px #FFF , 1537px 1997px #FFF , 1434px 608px #FFF , 1155px 1250px #FFF , 869px 807px #FFF , 1978px 314px #FFF , 27px 1653px #FFF , 1995px 1080px #FFF , 627px 316px #FFF , 1579px 992px #FFF , 1865px 1993px #FFF , 1246px 1671px #FFF , 267px 1884px #FFF , 434px 1445px #FFF , 898px 1567px #FFF , 1695px 1px #FFF , 1671px 633px #FFF , 1404px 1889px #FFF , 1511px 1479px #FFF , 517px 680px #FFF , 344px 167px #FFF , 1899px 1918px #FFF , 779px 1960px #FFF , 622px 1348px #FFF , 179px 705px #FFF , 413px 1667px #FFF , 1428px 195px #FFF , 1877px 988px #FFF , 796px 1425px #FFF , 1705px 296px #FFF , 754px 1960px #FFF , 1892px 1635px #FFF , 888px 1842px #FFF , 1352px 1388px #FFF , 916px 1691px #FFF , 135px 1375px #FFF , 1463px 981px #FFF , 1169px 1230px #FFF , 460px 1700px #FFF , 851px 1908px #FFF , 1315px 977px #FFF , 303px 34px #FFF , 765px 749px #FFF , 538px 1650px #FFF , 1416px 535px #FFF;
    animation: animEtoile 100s linear infinite;
}
#etoile2:after {
    z-index: -2;
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1407px 1052px #FFF , 943px 677px #FFF , 530px 1058px #FFF , 1620px 1986px #FFF , 263px 190px #FFF , 1345px 629px #FFF , 1353px 376px #FFF , 1660px 721px #FFF , 107px 1486px #FFF , 803px 574px #FFF , 1697px 1432px #FFF , 887px 154px #FFF , 1977px 1773px #FFF , 1214px 438px #FFF , 47px 474px #FFF , 1740px 1567px #FFF , 57px 1941px #FFF , 95px 926px #FFF , 1386px 1413px #FFF , 1215px 642px #FFF , 481px 545px #FFF , 103px 565px #FFF , 1434px 1426px #FFF , 1075px 1346px #FFF , 101px 1220px #FFF , 1058px 1924px #FFF , 1705px 878px #FFF , 921px 620px #FFF , 1512px 1270px #FFF , 1745px 905px #FFF , 1927px 57px #FFF , 147px 67px #FFF , 1955px 9px #FFF , 1113px 558px #FFF , 1206px 1718px #FFF , 1391px 1298px #FFF , 1554px 1070px #FFF , 107px 871px #FFF , 1335px 1189px #FFF , 1409px 164px #FFF , 920px 10px #FFF , 643px 1029px #FFF , 1078px 223px #FFF , 1440px 1523px #FFF , 1757px 57px #FFF , 95px 1612px #FFF , 964px 1733px #FFF , 1428px 1298px #FFF , 365px 253px #FFF , 393px 1855px #FFF , 1999px 952px #FFF , 1140px 608px #FFF , 23px 529px #FFF , 834px 675px #FFF , 1587px 1971px #FFF , 1584px 330px #FFF , 912px 1176px #FFF , 1952px 1699px #FFF , 247px 1713px #FFF , 519px 1174px #FFF , 1349px 1311px #FFF , 1279px 1283px #FFF , 1545px 305px #FFF , 1205px 634px #FFF , 1070px 1442px #FFF , 1611px 1030px #FFF , 1335px 492px #FFF , 1128px 766px #FFF , 536px 116px #FFF , 450px 516px #FFF , 1274px 1261px #FFF , 1802px 733px #FFF , 1608px 322px #FFF , 719px 1426px #FFF , 459px 857px #FFF , 1977px 146px #FFF , 450px 957px #FFF , 1828px 1079px #FFF , 1084px 125px #FFF , 671px 1018px #FFF , 1152px 1344px #FFF , 201px 1310px #FFF , 405px 526px #FFF , 1134px 1203px #FFF , 1566px 232px #FFF , 795px 681px #FFF , 450px 1534px #FFF , 148px 383px #FFF , 70px 1133px #FFF , 759px 251px #FFF , 105px 1462px #FFF , 1401px 402px #FFF , 949px 1007px #FFF , 1838px 627px #FFF , 758px 1029px #FFF , 495px 1010px #FFF , 92px 76px #FFF , 1556px 1312px #FFF , 1719px 627px #FFF , 1140px 143px #FFF , 1755px 476px #FFF , 1404px 1589px #FFF , 367px 997px #FFF , 2000px 1055px #FFF , 459px 1354px #FFF , 542px 1657px #FFF , 599px 1310px #FFF , 1724px 911px #FFF , 1776px 629px #FFF , 316px 788px #FFF , 1042px 1209px #FFF , 936px 129px #FFF , 1800px 221px #FFF , 445px 1859px #FFF , 1970px 662px #FFF , 563px 1258px #FFF , 53px 378px #FFF , 657px 9px #FFF , 593px 124px #FFF , 528px 1441px #FFF , 1032px 198px #FFF , 1814px 97px #FFF , 1003px 1232px #FFF , 1990px 848px #FFF , 1605px 320px #FFF , 482px 878px #FFF , 1347px 1635px #FFF , 965px 467px #FFF , 546px 32px #FFF , 599px 629px #FFF , 1536px 1257px #FFF , 128px 605px #FFF , 1805px 304px #FFF , 1910px 959px #FFF , 493px 1231px #FFF , 885px 1320px #FFF , 539px 268px #FFF , 1436px 797px #FFF , 1785px 1650px #FFF , 333px 982px #FFF , 630px 1289px #FFF , 961px 1290px #FFF , 1770px 1928px #FFF , 847px 971px #FFF , 734px 1008px #FFF , 1602px 1374px #FFF , 1103px 689px #FFF , 600px 118px #FFF , 1512px 765px #FFF , 333px 848px #FFF , 1399px 1583px #FFF , 101px 1568px #FFF , 1298px 1068px #FFF , 1299px 1808px #FFF , 742px 1153px #FFF , 1581px 612px #FFF , 1537px 1997px #FFF , 1434px 608px #FFF , 1155px 1250px #FFF , 869px 807px #FFF , 1978px 314px #FFF , 27px 1653px #FFF , 1995px 1080px #FFF , 627px 316px #FFF , 1579px 992px #FFF , 1865px 1993px #FFF , 1246px 1671px #FFF , 267px 1884px #FFF , 434px 1445px #FFF , 898px 1567px #FFF , 1695px 1px #FFF , 1671px 633px #FFF , 1404px 1889px #FFF , 1511px 1479px #FFF , 517px 680px #FFF , 344px 167px #FFF , 1899px 1918px #FFF , 779px 1960px #FFF , 622px 1348px #FFF , 179px 705px #FFF , 413px 1667px #FFF , 1428px 195px #FFF , 1877px 988px #FFF , 796px 1425px #FFF , 1705px 296px #FFF , 754px 1960px #FFF , 1892px 1635px #FFF , 888px 1842px #FFF , 1352px 1388px #FFF , 916px 1691px #FFF , 135px 1375px #FFF , 1463px 981px #FFF , 1169px 1230px #FFF , 460px 1700px #FFF , 851px 1908px #FFF , 1315px 977px #FFF , 303px 34px #FFF , 765px 749px #FFF , 538px 1650px #FFF , 1416px 535px #FFF;
}

#etoile3 {
    z-index: -2;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 400px 1493px #FFF , 623px 1428px #FFF , 941px 1629px #FFF , 936px 423px #FFF , 580px 126px #FFF , 1219px 822px #FFF , 545px 1392px #FFF , 1447px 965px #FFF , 1499px 1075px #FFF , 125px 1899px #FFF , 1284px 1552px #FFF , 823px 898px #FFF , 959px 342px #FFF , 1756px 985px #FFF , 875px 168px #FFF , 1711px 1036px #FFF , 1552px 1619px #FFF , 840px 1683px #FFF , 161px 1788px #FFF , 1550px 551px #FFF , 512px 1330px #FFF , 1931px 401px #FFF , 349px 296px #FFF , 659px 1448px #FFF , 581px 439px #FFF , 356px 435px #FFF , 648px 136px #FFF , 1970px 1984px #FFF , 414px 432px #FFF , 293px 1028px #FFF , 1778px 1108px #FFF , 789px 401px #FFF , 1359px 1340px #FFF , 1121px 1672px #FFF , 117px 1449px #FFF , 1137px 610px #FFF , 811px 732px #FFF , 1634px 113px #FFF , 539px 391px #FFF , 1333px 1753px #FFF , 1502px 1325px #FFF , 1381px 318px #FFF , 1464px 1051px #FFF , 1503px 2000px #FFF , 1830px 870px #FFF , 771px 933px #FFF , 722px 999px #FFF , 1292px 1612px #FFF , 649px 308px #FFF , 575px 491px #FFF , 675px 240px #FFF , 1434px 1787px #FFF , 1234px 477px #FFF , 22px 1204px #FFF , 1039px 673px #FFF , 790px 1434px #FFF , 579px 1708px #FFF , 1505px 702px #FFF , 1744px 682px #FFF , 1433px 1029px #FFF , 645px 1285px #FFF , 28px 1744px #FFF , 726px 422px #FFF , 1864px 975px #FFF , 514px 637px #FFF , 1509px 1458px #FFF , 864px 356px #FFF , 875px 865px #FFF , 1025px 937px #FFF , 573px 1559px #FFF , 1685px 794px #FFF , 276px 465px #FFF , 897px 1552px #FFF , 634px 1106px #FFF , 461px 822px #FFF , 437px 194px #FFF , 312px 1835px #FFF , 922px 1360px #FFF , 942px 1178px #FFF , 1168px 1930px #FFF , 785px 1168px #FFF , 1022px 391px #FFF , 376px 1460px #FFF , 421px 518px #FFF , 822px 1399px #FFF , 1835px 607px #FFF , 1077px 829px #FFF , 1880px 1928px #FFF , 881px 584px #FFF , 269px 1062px #FFF , 489px 1851px #FFF , 1191px 1977px #FFF , 511px 851px #FFF , 1248px 241px #FFF , 731px 871px #FFF , 463px 824px #FFF , 1074px 738px #FFF , 1597px 45px #FFF , 777px 1558px #FFF , 353px 650px #FFF;
    animation: animEtoile 150s linear infinite;
}
#etoile3:after {
    z-index: -2;
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 400px 1493px #FFF , 623px 1428px #FFF , 941px 1629px #FFF , 936px 423px #FFF , 580px 126px #FFF , 1219px 822px #FFF , 545px 1392px #FFF , 1447px 965px #FFF , 1499px 1075px #FFF , 125px 1899px #FFF , 1284px 1552px #FFF , 823px 898px #FFF , 959px 342px #FFF , 1756px 985px #FFF , 875px 168px #FFF , 1711px 1036px #FFF , 1552px 1619px #FFF , 840px 1683px #FFF , 161px 1788px #FFF , 1550px 551px #FFF , 512px 1330px #FFF , 1931px 401px #FFF , 349px 296px #FFF , 659px 1448px #FFF , 581px 439px #FFF , 356px 435px #FFF , 648px 136px #FFF , 1970px 1984px #FFF , 414px 432px #FFF , 293px 1028px #FFF , 1778px 1108px #FFF , 789px 401px #FFF , 1359px 1340px #FFF , 1121px 1672px #FFF , 117px 1449px #FFF , 1137px 610px #FFF , 811px 732px #FFF , 1634px 113px #FFF , 539px 391px #FFF , 1333px 1753px #FFF , 1502px 1325px #FFF , 1381px 318px #FFF , 1464px 1051px #FFF , 1503px 2000px #FFF , 1830px 870px #FFF , 771px 933px #FFF , 722px 999px #FFF , 1292px 1612px #FFF , 649px 308px #FFF , 575px 491px #FFF , 675px 240px #FFF , 1434px 1787px #FFF , 1234px 477px #FFF , 22px 1204px #FFF , 1039px 673px #FFF , 790px 1434px #FFF , 579px 1708px #FFF , 1505px 702px #FFF , 1744px 682px #FFF , 1433px 1029px #FFF , 645px 1285px #FFF , 28px 1744px #FFF , 726px 422px #FFF , 1864px 975px #FFF , 514px 637px #FFF , 1509px 1458px #FFF , 864px 356px #FFF , 875px 865px #FFF , 1025px 937px #FFF , 573px 1559px #FFF , 1685px 794px #FFF , 276px 465px #FFF , 897px 1552px #FFF , 634px 1106px #FFF , 461px 822px #FFF , 437px 194px #FFF , 312px 1835px #FFF , 922px 1360px #FFF , 942px 1178px #FFF , 1168px 1930px #FFF , 785px 1168px #FFF , 1022px 391px #FFF , 376px 1460px #FFF , 421px 518px #FFF , 822px 1399px #FFF , 1835px 607px #FFF , 1077px 829px #FFF , 1880px 1928px #FFF , 881px 584px #FFF , 269px 1062px #FFF , 489px 1851px #FFF , 1191px 1977px #FFF , 511px 851px #FFF , 1248px 241px #FFF , 731px 871px #FFF , 463px 824px #FFF , 1074px 738px #FFF , 1597px 45px #FFF , 777px 1558px #FFF , 353px 650px #FFF;
}

@keyframes animEtoile {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

/*footer*/

footer{
    margin: -200px 0 0 10%;
    font-weight: bold;
    font-size: 1rem;
}

.cadre_footer{
    width: 200px;
    background-color: white;
}

.logo{
    width: 180px;
}