<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><?= $Nom_du_monde ?></title>
    <meta name="robots" content="noindex"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="assets/css/end_game.css">
</head>
<body>

<div class="score">

    <h1>Synthèse</h1>

    <hr>

    <?php if ($groupe) : ?>
        <p>Groupe : <?= $groupe ?></p>
        <p>Joueur 1 : <?= $prenom1 ?></p>
        <p>Joueur 2 : <?= $prenom2 ?></p>
        <p>Joueur 3 : <?= $prenom3 ?></p>
        <p>Joueur 4 : <?= $prenom4 ?></p>
    <?php else : ?>
        <p>Joueur 1 : <?= $prenom1 ?></p>
    <?php endif; ?>

    <hr>

    <?php if ($examen == 0) : ?>
        <p>bravo, aucune erreur, le résulat seras transmit à ton professeur.</p>
    <?php elseif($examen == 1): ?>
        <p>bravo, une seul erreur au compteur, le résulat a été transmit à ton professeur.</p>
    <?php else : ?>
    <p> <?= $examen ?> erreurs au compteur, le résulat a été transmis à ton professeur.</p>
    <?php endif; ?>

    <hr>

    <p>Fin du jeu</p>

    <div style="display: flex; justify-content: space-around">
        <a href="/"><button type="button" id="question1True" class="btn-groupe" >Quitter le jeu</button></a>
        <img style="width: 200px"  src="<?= $image_licence ?>" alt="dwca" title="dwca">
    </div>

</div>

<script src="assets/js/app.js"></script>
</body>
</html>