<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><?= $Nom_du_monde ?></title>
    <meta name="robots" content="noindex"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="assets/css/end_game.css">
</head>
<body>

    <div class="score">

        <h1>Fin de la mission</h1>

        <hr>

        <?php if ($groupe) : ?>
            <p>Groupe : <?= $groupe ?></p>
            <p>Joueur 1 : <?= $prenom1 ?></p>
            <p>Joueur 2 : <?= $prenom2 ?></p>
            <p>Joueur 3 : <?= $prenom3 ?></p>
            <p>Joueur 4 : <?= $prenom4 ?></p>
        <?php else : ?>
            <p>Joueur 1 : <?= $prenom1 ?></p>
        <?php endif; ?>

        <hr>

        <?php if ($mauvaise_reponse  == 0) : ?>
        <p>Mauvaise réponses : 0</p>
        <?php else : ?>
        <p>Mauvaise réponses : <?= $mauvaise_reponse; ?></p>
        <?php endif; ?>

        <hr>

        <?php if ($mauvaise_reponse  == 0) : ?>
        <p>Bravo c'est un sans fautes !</p>
        <?php else: ?>
        <p>Quelques erreurs mais la mission est réussie.</p>
        <?php endif; ?>

        <hr>

        <form method="post" action="/examen" class="bouton-flex">

            <button type="submit" id="question1True" class="btn-groupe" value="1" name="question1" >Commencer l'examen</button>

            <input type="hidden" name="groupe" value="<?= $groupe ?>"/>
            <input type="hidden" name="prenom1" value="<?= $prenom1 ?>"/>
            <input type="hidden" name="prenom2" value="<?= $prenom2 ?>"/>
            <input type="hidden" name="prenom3" value="<?= $prenom3 ?>"/>
            <input type="hidden" name="prenom4" value="<?= $prenom4 ?>"/>
            <input type="hidden" name="token"  value="<?= $token ?>"/>

            <input type="hidden" value="<?= $bonne_reponse; ?>" name="bonne_reponse"/>
            <input type="hidden" value=" <?= $mauvaise_reponse; ?>" name="mauvaise_reponse"/>

            <input type="hidden" name="submitquestion1"/>

        </form>

    </div>

<script src="assets/js/app.js"></script>
</body>
</html>