<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><?= $Nom_du_monde ?></title>
    <meta name="robots" content="noindex"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="assets/css/end_game.css">
</head>
<body>

    <form id="form2" name="form2">

        <h1>Examen de votre aventure
            <?php if ($groupe) : ?>
                <?= $groupe ?>
            <?php else : ?>
                <?= $prenom1 ?>
            <?php endif; ?>
        </h1>

        <blockquote>

            <h2>Remplacez les mots ci-dessous dans le texte à trous.</h2>

            <p><em> les bouteilles en plastique – les déchets – recycler – des matières recyclables – trier – des granulés – les pots de yaourt en plastique </em></p

            <ul>
                <li>Il faut d'abord <input id="rep1" name="rep1" type=text size=21 maxlength=40 title="q1"> avant de <input id="rep2" name="rep2" type=text size=21 maxlength=40 title="q2" ></li>

                <li>Il existe environ 7 matières recyclables qui sont : les journaux, les magazines, <input id="rep3" name="rep3" type=text size=21 maxlength=40 title="q3"> ,
                    les cartons, les canettes, les conserves ainsi que les briques alimentaires.</li>

                <li>Les balles sont  <input id="rep4" name="rep4" type=text size=21 maxlength=40 title="q4"> compactés de manière cubique afin d’être envoyé dans les centres de recyclage.</li>

                <li>Réduire <input id="rep5" name="rep5" type=text size=21 maxlength=40 title="q5"> aide à réduire l’impact environnemental.</li>

                <li>Les petites billes de plastiques transformées s’appellent <input id="rep6" name="rep6" type=text size=21 maxlength=40 title="q6"></li>

                <li>En France, on ne recycle pas <input id="rep7" name="rep7" type=text size=21 maxlength=40 title="q7"></li>
            </ul>
        </blockquote>

        <input class="btn-examen" type=button value="Valider" id="Verif">

    </form>

<script src="assets/js/app.js"></script>
<script src="assets/js/examen.js"></script>

</body>
</html>