<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Je sauve ma planète</title>
    <meta name="robots" content="noindex"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="assets/css/introduction_config.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>
<body>

    <div class="space"></div>

    <div class="container container-introduction">
        <img class="img_profil" src="assets/img/profil/<?= $image ?>" alt="img_profil">

        <?php if ($select == "groupe") : ?>
            <h1>Tu as choisis le profil <?= $select ?></h1>
            <?= $form ?>
        <?php else : ?>
            <h1>Tu as choisis le profil <?= $select ?></h1>
            <?= $form ?>
        <?php endif; ?>
    </div>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/presentation.js"></script>
</body>
</html>