<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Je sauve ma planète</title>
    <meta name="robots" content="noindex"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="assets/css/introduction.css">
</head>
<body>

    <form class="page-content" method="POST" action="introduction_config">

        <button value="fille" name="select" id="fille" class="card">
            <div class="content">
                <h2 class="title">Je suis une Fille</h2>
                <p class="copy">Hello, tu en as ras-le-bol de constater de la pollution
                    sur notre belle planète, alors commençons l’aventure !</p>
            </div>
        </button>

        <button value="garcon" name="select" id="garcon" class="card">
            <div class="content">
                <h2 class="title">Je suis un Garçon</h2>
                <p class="copy">Hey, je ne supporte plus de constater de la pollution sur notre belle planète, alors go pour l’aventure.</p>
            </div>
        </button>

        <button value="groupe" name="select" id="groupe" class="card">
            <div class="content">
                <h2 class="title">Un Groupe d'élèves</h2>
                <p class="copy">Hello tout le monde, vous voulez créer un groupe afin
                    de faire l’aventure à plusieurs, alors commençons dès maintenant.</p>
            </div>
        </button>

        <input type="hidden" name="token" id="token" value="<?php echo $_SESSION['token']; ?>" />

    </form>
    <script src="assets/js/presentation.js"></script>
</body>
</html>