<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Je sauve ma planète</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="noindex"/>
        <meta name="robots" content="noindex,nofollow"/>
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/css/app.css">
        <link rel="stylesheet" type="text/css" href="assets/css/splash.css">
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    </head>
    <body class="welcome">
    <!-- animation -->
    <span id="splash-overlay" class="splash"></span>
    <span id="welcome" class="z-depth-4"></span>
    <!-- menu -->
    <h1><?= $titre_du_jeu ?></h1>

    <div class="card card--earth">
        <div class="card__planet">
            <div class="planet__atmosphere">
                <div class="planet__surface"></div>
            </div>
        </div>
    </div>

    <div id='etoile'></div>
    <div id='etoile2'></div>
    <div id='etoile3'></div>


    <div class="game colonne">
        <button id="new_game" class="button">Nouvelle partie</button>
        <button class="button">Options</button>
        <button class="button">Aides</button>
        <button class="button">Credits</button>
    </div>

    <footer>
        <p><?= $description_du_jeu ?></p>
        <div class="cadre_footer">
            <img class="logo" src="<?= $image_licence ?>" alt="dwca" title="dwca">
        </div>
        <p>Version <?= $version_du_jeu ?></p>
    </footer>
    <script src="assets/js/start_game.js"></script>
</body>
</html>