<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><?= $Nom_du_monde ?></title>
    <meta name="robots" content="noindex"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tutorial.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>
<body>

<div id="wrapper">
    <div id="container">

        <section class="open-book">
            <header>
                <h6><?= $nom_ecole ?></h6>
            </header>
            <article>
                <h2 class="chapter-title">Mission je sauve ma planete</h2>

                <p>Depuis quelques années, la Terre se réchauffe de plus en plus. </p>

                <div class="space40"></div>

                <p>À cause de la pollution, des déchets, de l'énergie gaspillée, de notre alimentation, nous émettons énormément
                    de gaz à effet de serre, qui dérègle le climat et menace notre planète.</p>

                <img class="img-livre" src="assets/img/tutorial/tuto.png" alt="dwca" title="dwca">

                <dl>
                    <dt><strong>Commencer votre Aventure</strong></dt>
                    <dd>
                        <em><?= $nom_ecole ?></em><br>
                        Grâce aux missions de l'aventure, apprends à réutiliser et recycler tes objets, à consommer moins
                        Ces petites actions permettront de limiter le réchauffement climatique, et feront de toi un véritable protecteur du climat.
                    </dd>
                </dl>
                <form method="post" action="/world_1?q=question1">
                    <button type="submit" class="btn-start">Lancer votre mission</button>

                    <input type="hidden" name="groupe" value="<?= $groupe ?>"/>
                    <input type="hidden" name="prenom1" value="<?= $prenom1 ?>"/>
                    <input type="hidden" name="prenom2" value="<?= $prenom2 ?>"/>
                    <input type="hidden" name="prenom3" value="<?= $prenom3 ?>"/>
                    <input type="hidden" name="prenom4" value="<?= $prenom4 ?>"/>
                    <input type="hidden" name="token"  value="<?= $token ?>"/>
                    <input type="hidden" name="token" id="token" value="<?= $token ?>"/>
                </form>

            </article>
            <footer>
                <ol id="page-numbers">
                    <li>1</li>
                    <li>2</li>
                </ol>
            </footer>
        </section>

    </div>
</div>

<script src="assets/js/app.js"></script>
</body>
</html>