<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><?= $Nom_du_monde ?></title>
    <meta name="robots" content="noindex"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="assets/css/game.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>
<body>

<?php if ($mode == "debug") : ?>
    <div style="position: absolute">
        <h3>DEBUG</h3>

        <p>Bonne réponses : <?= $bonne_reponse; ?></p>
        <p>Mauvaise réponses : <?= $mauvaise_reponse; ?></p>

        <?php if ($groupe) : ?>
        <p>Groupe : <?= $groupe ?></p>
        <p>Joueur 1 : <?= $prenom1 ?></p>
        <p>Joueur 2 : <?= $prenom2 ?></p>
        <p>Joueur 3 : <?= $prenom3 ?></p>
        <p>Joueur 4 : <?= $prenom4 ?></p>
        <?php else : ?>
        <p>Joueur 1 : <?= $prenom1 ?></p>
        <?php endif; ?>
    </div>
<?php endif; ?>

    <div class="world">
        <div id="galaxy-wrapper"></div>
        <div id="background"></div>
        <div id="background-1"></div>
        <div id="background-2"></div>
        <div id="background-3"></div>
        <div id="planet"></div>
        <div id="overlay"></div>
    </div>

    <div class="game">

        <div>
            <h1>
                <?php if ($groupe) : ?>
                Groupe : <?= $groupe ?>
                <?php else : ?>
                Bonjour <?= $prenom1 ?>
                <?php endif; ?>
            </h1>
        </div>

        <?php if ($question == "question1") : ?>
        <div class="video">
            <video controls width="600">
                <source src=" <?= $monde1Video->video ?>" type="video/mp4">
            </video>
        </div>
        <?php else : ?>
        <div class="space100"></div>
        <?php endif; ?>

        <?php if ($question == "question1") : ?>
            <p class="text-game"> <?= $monde1Question1->texte ?></p>
            <form method="post" action="/world_1?q=question2" class="bouton-flex">

                <button type="submit" id="question1True" class="btn-choix" value="1" name="question1" ><?= $bouton1Question1_True->nom_bouton_1 ?></button>
                <button type="submit" id="question1False" class="btn-choix" value="0" name="question1"><?= $bouton1Question1_False->nom_bouton_2 ?></button>

                <input type="hidden" name="groupe" value="<?= $groupe ?>"/>
                <input type="hidden" name="prenom1" value="<?= $prenom1 ?>"/>
                <input type="hidden" name="prenom2" value="<?= $prenom2 ?>"/>
                <input type="hidden" name="prenom3" value="<?= $prenom3 ?>"/>
                <input type="hidden" name="prenom4" value="<?= $prenom4 ?>"/>
                <input type="hidden" name="token"  value="<?= $token ?>"/>

                <input type="hidden" value="<?= $bonne_reponse; ?>" name="bonne_reponse"/>
                <input type="hidden" value=" <?= $mauvaise_reponse; ?>" name="mauvaise_reponse"/>

                <input type="hidden" name="submitquestion1"/>

            </form>
        <?php elseif ($question == "question2") : ?>
            <p class="text-game"> <?= $monde1Question2->texte ?></p>
            <form method="post" action="/world_1?q=question3" class="bouton-flex">

                <button class="btn-choix" value="2" name="question2" type="submit"><?= $bouton1Question2_False->nom_bouton_2 ?></button>
                <button class="btn-choix" value="1" name="question2" type="submit"><?= $bouton1Question2_True->nom_bouton_1 ?></button>

                <input type="hidden" name="groupe" id="token" value="<?= $groupe ?>"/>
                <input type="hidden" name="prenom1" id="token" value="<?= $prenom1 ?>"/>
                <input type="hidden" name="prenom2" id="token" value="<?= $prenom2 ?>"/>
                <input type="hidden" name="prenom3" id="token" value="<?= $prenom3 ?>"/>
                <input type="hidden" name="prenom4" id="token" value="<?= $prenom4 ?>"/>
                <input type="hidden" name="token" id="token" value="<?= $token ?>"/>

                <input type="hidden" value="<?= $bonne_reponse; ?>" name="bonne_reponse"/>
                <input type="hidden" value=" <?= $mauvaise_reponse; ?>" name="mauvaise_reponse"/>

                <input type="hidden" name="submitquestion2"/>
            </form>
        <?php elseif ($question == "question3") : ?>
            <p class="text-game"> <?= $monde1Question3->texte ?></p>
            <form method="post" action="/world_1?q=question3" class="bouton-flex">

                <button type="submit" class="btn-choix" value="0" name="question3"><?= $bouton1Question3_True->nom_bouton_1 ?></button>
                <button type="submit" class="btn-choix" value="1" name="question3"><?= $bouton1Question3_False->nom_bouton_2 ?></button>

                <input type="hidden" name="groupe" id="token" value="<?= $groupe ?>"/>
                <input type="hidden" name="prenom1" id="token" value="<?= $prenom1 ?>"/>
                <input type="hidden" name="prenom2" id="token" value="<?= $prenom2 ?>"/>
                <input type="hidden" name="prenom3" id="token" value="<?= $prenom3 ?>"/>
                <input type="hidden" name="prenom4" id="token" value="<?= $prenom4 ?>"/>
                <input type="hidden" name="token" id="token" value="<?= $token ?>"/>

                <input type="hidden" value="<?= $bonne_reponse; ?>" name="bonne_reponse"/>
                <input type="hidden" value=" <?= $mauvaise_reponse; ?>" name="mauvaise_reponse"/>

                <input type="hidden" name="submitquestion3"/>
            </form>
        <?php endif; ?>

    </div>

    <div class="info">
        <footer>
            <p><?= $description_du_jeu ?></p>
            <div class="cadre_footer">
                <img class="logo" src="<?= $image_licence ?>" alt="dwca" title="dwca">
            </div>
            <p>Version <?= $version_du_jeu ?></p>
        </footer>
    </div>
    <script src="assets/js/app.js"></script>
</body>
</html>