<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><?= $Nom_du_monde ?></title>
    <meta name="robots" content="noindex"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="assets/css/game.css">
</head>
<body>

<?php if ($mode == "debug") : ?>
    <div style="position: absolute">
        <h3>DEBUG</h3>

        <p>Bonne réponses : <?= $bonne_reponse; ?></p>
        <p>Mauvaise réponses : <?= $mauvaise_reponse; ?></p>

        <?php if ($groupe) : ?>
            <p>Groupe : <?= $groupe ?></p>
            <p>Joueur 1 : <?= $prenom1 ?></p>
            <p>Joueur 2 : <?= $prenom2 ?></p>
            <p>Joueur 3 : <?= $prenom3 ?></p>
            <p>Joueur 4 : <?= $prenom4 ?></p>
        <?php else : ?>
            <p>Joueur 1 : <?= $prenom1 ?></p>
        <?php endif; ?>
    </div>
<?php endif; ?>

<div class="world">
    <div id="galaxy-wrapper"></div>
    <div id="background"></div>
    <div id="background-1"></div>
    <div id="background-2"></div>
    <div id="background-3"></div>
    <div id="planet"></div>
    <div id="overlay"></div>
</div>

<div class="game">

    <div>
        <h1>
            <?php if ($groupe) : ?>
                Groupe : <?= $groupe ?>
            <?php else : ?>
                Bonjour <?= $prenom1 ?>
            <?php endif; ?>
        </h1>

    </div>

    <div class="space100"></div>

    <?php if ($_GET['er'] == "question1") : ?>
        <p class="text-error-game"> <?= $monde2Question1->texte ?></p>
        <form method="post" action="/world_2?q=question1">
            <button type="submit" id="question1True" class="btn-choix"><?= $bouton1Question1_True->nom_bouton_1 ?></button>
            <input type="hidden" name="token" id="token" value="<?= $token ?>"/>
            <input type="hidden" name="submitError1"/>
        </form>

    <?php elseif ($_GET['er'] == "question2") : ?>
        <p class="text-error-game"> <?= $monde2Question2->texte  ?></p>
        <form method="post" action="/world_2?q=question2">
            <button type="submit" id="question1True" class="btn-choix"><?= $bouton1Question1_True->nom_bouton_1 ?></button>
            <input type="hidden" name="token" id="token" value="<?= $token ?>"/>
            <input type="hidden" name="submitError2"/>
        </form>

    <?php elseif ($_GET['er'] == "question3") : ?>
        <p class="text-error-game"> <?= $monde2Question3->texte ?></p>
        <form method="post" action="/world_2?q=question3">
            <button type="submit" id="question1True" class="btn-choix"><?= $bouton1Question1_True->nom_bouton_1 ?></button>
            <input type="hidden" name="token" id="token" value="<?= $token ?>"/>
            <input type="hidden" name="submitError3"/>
        </form>

    <?php endif; ?>

</div>

<div class="info">
    <footer>
        <p><?= $description_du_jeu ?></p>
        <div class="cadre_footer">
            <img class="logo" src="<?= $image_licence ?>" alt="dwca" title="dwca">
        </div>
        <p>Version <?= $version_du_jeu ?></p>
    </footer>
</div>
<script src="assets/js/app.js"></script>
</body>
</html>